[Desktop Entry]
Type=Application
Name=Readest
Comment=Read and manage ebooks
Exec=readest-flatpak %U
Icon=com.bilingify.readest
Terminal=false
Categories=Office;Viewer;
MimeType=application/epub+zip;application/pdf;application/vnd.amazon.ebook;application/x-fictionbook+xml;application/x-mobipocket-ebook;application/vnd.comicbook+zip;text/markdown;text/plain;
